In [15]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [16]:
# Load .env enviroment variables
load_dotenv()

True

In [17]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    base_url="https://paper-api.alpaca.markets",
    api_version="v2")

In [18]:
# Format current date as ISO format
start_date1 = pd.Timestamp("2015-04-01", tz="America/New_York").isoformat()
end_date1 = pd.Timestamp("2018-03-31", tz="America/New_York").isoformat()

start_date2 = pd.Timestamp("2018-04-01", tz="America/New_York").isoformat()
end_date2 = pd.Timestamp("2021-03-31", tz="America/New_York").isoformat()

In [19]:
# Set the tickers
tickers = ["WEAT", "CORN", "SOYB"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get 6 years worth of historical data for WEAT, CORN and SOYB

# Max limit of 1000 so we get two sets of date range data and concatenate.
df_fund_data1 = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date1,
    end = end_date1,
    limit=1000
).df

df_fund_data2 = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date2,
    end = end_date2,
    limit=1000
).df



# Display sample data
##df_fund_data.head()

In [20]:
#Concatenate
df_fund_data = df_fund_data1.append(df_fund_data2)

In [22]:
df_fund_data

                            CORN                                      SOYB  \
                            open     high      low   close   volume   open
time
2015-04-01 00:00:00-04:00  24.75  25.1400  24.6200  25.050    45118  19.63
2015-04-02 00:00:00-04:00  24.94  25.4900  24.9200  25.370    48518  19.87
2015-04-06 00:00:00-04:00  25.37  25.3700  25.1901  25.250    36986  20.00
2015-04-07 00:00:00-04:00  25.22  25.2200  25.0703  25.140    11214  19.73
2015-04-08 00:00:00-04:00  25.17  25.1700  24.7700  24.890    28290  19.70
...                          ...      ...      ...     ...      ...    ...
2021-03-25 00:00:00-04:00  16.81  16.8600  16.7000  16.785   208163  21.09
2021-03-26 00:00:00-04:00  16.78  16.8800  16.7800  16.845   171012  20.93
2021-03-29 00:00:00-04:00  16.76  16.7600  16.6249  16.670   185499  20.82
2021-03-30 00:00:00-04:00  16.63  16.6366  16.2900  16.380   369156  20.72
2021-03-31 00:00:00-04:00  16.40  17.7200  16.3400  17.570  1116252  20.54

                                                                WEAT           \
                              high      low    close  volume    open     high
time
2015-04-01 00:00:00-04:00  19.9700  19.6300  19.9200    6899  10.930  11.2400
2015-04-02 00:00:00-04:00  20.0400  19.8500  19.9900    5378  11.200  11.5001
2015-04-06 00:00:00-04:00  20.0000  19.8105  19.8300    1645  11.500  11.5000
2015-04-07 00:00:00-04:00  19.7499  19.6700  19.7062     801  11.100  11.2700
2015-04-08 00:00:00-04:00  19.7300  19.6206  19.6400    4420  11.009  11.0900
...                            ...      ...      ...     ...     ...      ...
2021-03-25 00:00:00-04:00  21.0900  20.8900  21.0077  113494   5.950   5.9500
2021-03-26 00:00:00-04:00  21.0100  20.8400  20.8700  116507   5.890   5.9700
2021-03-29 00:00:00-04:00  20.9000  20.7301  20.7500   43918   5.910   5.9500
2021-03-30 00:00:00-04:00  20.7300  20.4401  20.4550  128551   5.920   5.9200
2021-03-31 00:00:00-04:00  21.8800  20.5400  21.6600  308194   5.820   6.0900


                               low    close  volume
time
2015-04-01 00:00:00-04:00  10.8000  11.2200   67750
2015-04-02 00:00:00-04:00  11.1400  11.3400   58920
2015-04-06 00:00:00-04:00  11.1403  11.1832   36607
2015-04-07 00:00:00-04:00  11.0000  11.1640   22078
2015-04-08 00:00:00-04:00  10.9900  11.0500   26388
...                            ...      ...     ...
2021-03-25 00:00:00-04:00   5.8700   5.8900  375574
2021-03-26 00:00:00-04:00   5.8900   5.9350  155488
2021-03-29 00:00:00-04:00   5.8501   5.9500  282592
2021-03-30 00:00:00-04:00   5.8100   5.8200  308893
2021-03-31 00:00:00-04:00   5.7600   6.0100  678941

[1511 rows x 15 columns]